<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Ultimos chequeos</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="well well-sm">
                    <div class="media">
                        <a class="thumbnail pull-left" href="#">
                            <img class="media-object" src="http://critterapp.pagodabox.com/img/user.jpg">
                        </a>
                        <div class="media-body">
                            <h2 class="media-heading">Jose I. Luengo</h2>
                            <h5 class="">Ficha: 416465</h5>
                            <span class="label label-danger">08:30 A.M.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well well-sm">
                    <div class="media">
                        <a class="thumbnail pull-left" href="#">
                            <img class="media-object" src="http://critterapp.pagodabox.com/img/user.jpg">
                        </a>
                        <div class="media-body">
                            <h2 class="media-heading">Jose I. Luengo</h2>
                            <h5 class="">Ficha: 416465</h5>
                            <span class="label label-danger">08:30 A.M.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

